// 自定义的样式
// 左侧logo高度
$base-menu-logo-height: 50px;
$base-menu-min-width: 50px;

// 左侧logo文字大小
$base-logo-title-fontSize: 20px;

$base-menu-width: 200px;
$base-menu-background-color: #001529;

$base-tabbar-height: 50px;

//meg样式
$meg-menu-height: 30px;
$meg-tabbar-height: 105px;
$meg-slider-width: 200px;

$meg-buttom-size: 40px;
